* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 57px;
    /* background-color: rgb(226, 178, 178); */
    padding: 20px 20px 0;
}

header .wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #989eb149;
    padding-bottom: 18px;
}

#logo_btn {
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

main {
    width: 375px;
    overflow: hidden;
}

#section_1 {
    padding: 20px 20px 67px;
}

#section_1 h1, #section_2 h1, #section_3 h1, #section_4 h1 {
    font-size: 40px;
    font-weight: 400;
    color: #142251;
    margin-bottom: 20px;
    line-height: 34px;
    word-wrap: break-word 
}
#section_1 span {
    color: #AFB4C4;
}
#section_3 h1 {
    font-size: 38px;
    margin-bottom: 30px;
}

#section_1 p, #section_2 .section_2_text p, #section_4 .section_4_text p {
    font-size: 14px;
    font-weight: 400;
    color: #AFB4C4;
    letter-spacing: -3%;
}

#section_1 p {
    width: 170px;
}

#section_1 a, #section_2 a {
    text-decoration: none;
    color: #213887;
    font-weight: 500;
}

#section_1_pic_composition {
    margin-top: 20px;
    position: relative;
}

#pic_section_1 {
    position: absolute;
    left: 0;
    top: 0;
}

#bg_section_1 {
    margin-top: -70px;
}

.make_order_btn {
    display: inline-block;
    width: 100%;
    padding: 24px 20px;
    background-color: #21398710;
    border-radius: 12px;
}

.make_order_btn .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    width: 100%;
    height: 2437px;
}

footer {
    width: 100%;
    height: 595px;
}

#section_2 {
    height: 715px;
    padding: 30px 0 20px;
    background-color: #F3F6F9;
    border-radius: 30px;
}

.section_2_text {
    margin: 0 20px 0;
}

.section_2_slider_1 {
    height: 40px;
    margin-top: 20px;
    width: 100%;
    overflow-x: scroll;
    display: flex;
    scrollbar-width: none; 
}
.section_2_slider_1::-webkit-scrollbar {
    display: none;
}

.section_2_slider_1 .btn {
    display: flex;
    padding: 13px 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: auto;
    border: 1px solid #D9DCE4;
    border-radius: 20px;
    margin-right: 10px;
    flex-shrink: 0;
    color: #142251;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    word-wrap: break-word 
}
.section_2_slider_1 .btn:first-child {
    margin-left: 20px;
}
.section_2_slider_1 .btn:last-child {
    margin-right: 20px;
}

.active_btn {
    border: 1px solid #142251 !important;
}

.section_2_slider_2 {
    position: relative;
    height: 517px;
    width: 100%;
    margin-top: 20px;
    overflow-x: scroll;
    scrollbar-width: none; 
    display: flex;
}
.section_2_slider_2::-webkit-scrollbar {
    display: none;
}


.section_2_slider_2 .card {
    position: relative; 
    height: 517px;
    width: calc(100% - 40px);
    max-width: 425px;
    background-color: #fff;
    flex-shrink: 0;
    margin-right: 5px;
    border-radius: 30px;
}
.section_2_slider_2 .card:first-child {
    margin-left: 20px;
}
.section_2_slider_2 .card:last-child {
    margin-right: 20px;
}

.section_2_slider_2 .card_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 30px;
    border-radius: 25px;
    background-color: #F3F6F9;
    width: calc(100% - 20px);
    height: 194px;
}

.section_2_slider_2 .card .make_order_btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    width: auto;
}

.card_title {
    width: 140px;
    margin-left: 30px;
    margin-bottom: 30px;
    color: #142251;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    word-wrap: break-word;
}

.card_img_description {
    margin-left: 30px;
    margin-bottom: 10px;
    color: #142251;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    word-wrap: break-word;
}

#section_3 {
    padding: 50px 20px;
}

#section_3 .wrapper {
    display: flex;
    flex-direction: column;
}

#section_3 .block {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 20px 0 30px;
    width: 100%;
    min-height: 134px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px; 
    border: 1px #989eb17e solid;
}
#section_3 .block:last-child {
    margin-bottom: 0;
}
#section_3 .block:first-child {
    padding: 0 35px 0 30px;
}

#section_3 .block p {
    color: #142251;
    /* font-size: 20px; */
    font-size: 19px;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
    margin-left: 55px;
}

#section_3 .number {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #989EB1;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    word-wrap: break-word 
}

#section_4 {
    position: relative;
    padding: 50px 20px 20px;
    background: #F3F6F9; 
    border-radius: 30px;
    overflow: hidden;
}

#bg4_img {
    position: absolute;
    bottom: -5px;
    right: 0;
    z-index: 1 !important;
}

#section4_content {
    position: relative;
    z-index: 2 !important;
    overflow: hidden;
}

.section_4_text {
    margin-bottom: 30px;
}

.block {
    background-color: #fff;
    width: 162px;
    height: 160px;
    border-radius: 20px;
}